version: '3.9'

services:

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      POSTGRES_DB: notification_app_users
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"

  config-server:
    build: ./configserver
    container_name: config-server
    ports:
      - "8888:8888"
    depends_on:
      - postgres
      - redis

  eureka-server:
    build: ./serviceregistry
    container_name: eureka-server
    ports:
      - "8761:8761"

  user-service:
    build: ./userservice
    container_name: user-service
    ports:
      - "8081:8081"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/notification_app_users
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: 1234
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - postgres
      - redis
      - config-server
      - eureka-server

  notification-service:
    build: ./notificationservice
    container_name: notification-service
    ports:
      - "8082:8082"
    environment:
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      - redis
      - config-server
      - eureka-server

  api-gateway:
    build: ./apigateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - user-service
      - notification-service
      - eureka-server
      - config-server

volumes:
  pgdata:
