# Mail Configuration
server:
  port: 8082
spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
  application:
    name: NOTIFICATION-SERVICE
  config:
    import:
      - "optional:configserver:http://localhost:8888"