name: Notification Service CI/CD

on:
  push:
    paths:
      - 'notificationservice/**'
  pull_request:
    paths:
      - 'notificationservice/**'

jobs:
  build-test-docker:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B clean package -f notificationservice/pom.xml
    - name: Run Tests
      run: mvn test -f notificationservice/pom.xml

